<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Go to bed earlier, and the ideal sleeping time is 21:00~23:00.</string>
	<string>Try to not play mobile or do other things that may affect the rest of your brain.</string>
	<string>Ensure your sleeping time lasts 7~8 hours per day as much as possible.</string>
	<string>Listen the simple and rhythmic music to help you fall into sleep.</string>
	<string>Go for a walk or do some sports that are not excessive before sleeping; take a hot bath after sweating or put your feet into the hot water to relax nerve. All of that can help you high sleep quality.</string>
	<string>Keep a common mood. Do not worry if you suffer insomnia.</string>
	<string>Keep your heart rest firstly and then go to sleep well. Do not consider more before sleep and eliminate all the distractions when you go to bed. Don’t bring the pressure of study, work or life into your sleep.</string>
	<string>Keep the suitable sleeping position. The position varies from person to person, just keep the comfortable way. However, in the supine position you may feel difficult to relax muscles and hands are easily to be put on the chest, which lead to more nightmares. In the prone position, you may feel oppression of your chest, which affects the breath and the heartbeat. The right lateral position is the scientific way in which you feel free to beat your heart and breathe smoothly. Besides, this position will facilitate the emptying of your stomach.</string>
	<string>Drink a small cup of hot milk with sugar before sleep. According to the research, it can not only increase the secretion of the human insulin, but also fortify the entrance of the amino acid into the brain cells; which help brain to secrete the serotonin. Meanwhile, the small amount of the morphine style substance that contained in the milk can make the person calm and smooth to promote sleep.</string>
	<string>Find out and eliminate the causes of your insomnia. If you pay more attention, you can easily find the causes that can be eliminated. The insomnia can be treated by yourself. If you suffer insomnia, please discuss with the doctor immediately.</string>
	<string>Do not eat food and drink too much before sleep. Since your frequent going to the toilet will affects the sleep quality, just have the simple dinner 2 hours ago before sleep and do not drink too much water. Do not eat the spicy and greasy food either.</string>
	<string>Keep the regular sleep schedule and do not stay up late on weekends.</string>
	<string>Keep the indoor temperature cooler. The lower temperature is conducive to the sleep.</string>
	<string>Do not rely on sleeping pills. Please consult the doctor before taking the pills and do not exceed 4 weeks continuously when using the pills.</string>
	<string>Have a comfortable bed. A comfortable bed can provides you a good sleep space.</string>
	<string>Overcome snoring to ensure a good sleep both for yourself and others. Snoring is one of the symptoms of the obstruction and breath suspension, which is a kind of sleep obstruction and reduces the sleep quality. Also, snoring could be the alert of the high blood pressure and the cardiovascular disease, if you are in the serious condition, please see the doctor immediately.</string>
	<string>Reduce the sound and light stimulation when sleeping through the night. Please keep silent and turn off the light while sleeping.</string>
	<string>Keep warm in the low temperature.</string>
	<string>Keep the stable mood, and avoid worry and anger. Be calm and tranquil, do not read the thrilling and detective books, see those films or watch such kinds of TV programs before sleep.</string>
	<string>Do not cover your head. Sleeping with your head covered will make you feel difficult to breathe, which will make you inhale large quantity of the carbon dioxide exhaled by yourself and the hazardous substance evaporated by your body easily. Thus, it harms the body health.</string>
	<string>Analyze and find out the cause of pain. If you feel uncomfortable caused by the disease, please see the doctor immediately.</string>
	<string>Big sleep in the night time. The small nap during daytime may deprive the sleeping time of the night. The sleeping time of daytime should be strictly controlled within 1 hour, and you cannot keep sleeping till 3 pm.</string>
	<string>Choose the appropriate exercise time. The afternoon exercise is the best choice to help sleep and the regular exercise can improve the sleep quality during the night.</string>
</array>
</plist>
