<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>1. Which group of people should not use &quot;Somnormal&quot;?</string>
		<key>answer</key>
		<string>Answer:（1）Pregnant ladies;
	             （2）Epilepsy patients or individuals with family genetic history of epilepsy;
	             （3）Patients with implanted electronic devices such as pacemakers or insulin pumps;
	             （4）Patients with recent cerebral hemorrhage stroke, brain trauma or brain lesions;</string>
	</dict>
	<dict>
		<key>question</key>
		<string>2. What should I do when I experience headache, dizziness, nausea or other adverse events when using &quot;Somnormal&quot;?</string>
		<key>answer</key>
		<string>Answer: First, do not panic, because the symptoms occur due to excessive stimulation intensity or stimulation frequency. Reduce stimulation intensity or stimulation frequency immediately; if the symptoms persist, stop using &quot;Somnormal&quot; and consult doctor immediately.</string>
	</dict>
	<dict>
		<key>question</key>
		<string>3. Why should we check cleanliness of felt before use?</string>
		<key>answer</key>
		<string>Answer: Checking cleanliness of felt before use can prevent felt from being used after contamination, which may lead to bacterial skin infection that can cause skin redness at the earlobes.</string>
	</dict>
	<dict>
		<key>question</key>
		<string>4. Why should we check if the felt is wet before use?</string>
		<key>answer</key>
		<string>Answer: Checking wetness of felt before use is to ensure stimulation area is big enough to be even at both earlobes.</string>
	</dict>
</array>
</plist>
