<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>控制好自己的心态，保持在一种较稳定的情绪状态，就可以很好的避免焦虑持续下去。</string>
	<string></string>
	<string>多活动活动身体，可使心情得到放松。养成良好的生活习惯，早睡早起，保持身心愉快，适当的多吃糖类，多吃含钙食物，补充维生素b。</string>
	<string>首先要控制好自己的心态，保持在一种较稳定的情绪状态，就可以很好的避免焦虑持续下去。其次转移注意力和放松。通过跑步、聊天、逛街等活动放松自己的情绪，面对难题，可以先转移自己的注意，等到放松时再继续，就可以避免焦虑。</string>
	<string>多活动活动身体，可使心情得到放松。养成良好的生活习惯，早睡早起，保持身心愉快，适当的多吃糖类，多吃含钙食物，补充维生素b</string>
	<string>转移注意力和放松心情。通过跑步、聊天、逛街等活动放松自己的情绪，面对难题，可以先转移自己的注意，等到放松时再继续。</string>
	<string>平时多喝点百合粥和莲子粥，可以滋阴安神.平时多参加集体活动,舒畅心情.多喝点玫瑰花茶,疏肝解郁.多参加户外运动。</string>
</array>
</plist>
