<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>平常尽量穿舒适宽松的衣服，以避免腹部受压；不要在激烈运动之前或之后马上进餐。因为这样一来，会使得胃部负荷过重，而诱发胃痛。</string>
	<string>建议多活动，即使坐着的时候也要伸伸上臂，活动肩胛、颈部等，正确的坐姿亦很重要</string>
	<string>手臂、腿或关节疼痛的情况下必须要及时的做好这些相应的护理和改善，让自己得到合理的锻炼，平时可以到外面多锻炼，多做运动，这样才可以提高身体的体质，也可以改善手臂、腿或关节疼痛的现象，改善自己手臂、腿或关节疼痛现象期间必须要降低自己过度劳累的程度，还要在手臂、腿或关节疼痛的情况下用热水来给自己进行热敷，改善血液不循环的现象。</string>
	<string>平时多注意保暖，特别是月经期间不要接触凉的</string>
	<string>平时应注意低盐低脂饮食，注意劳逸结合，保持良好心情，避免情绪过度波动。</string>
	<string></string>
	<string>注意体位改变，要保持心情舒畅避免情绪暴躁不安，合理安排自己的作息时间，避免过度劳累，合理膳食，适当运动较好</string>
	<string>平时多做有氧运动,不要总是把自己关在书堆里或者电脑旁,养成良好的生活习惯,多吃维生素丰富的食物,少吃油腻,最主要的是睡眠质量一定要保证!平时有意锻炼自己的大脑运动,开发左右脑平衡发展,比如你平时习惯用右手,那么可以时不时的多用左手来做右手的事情</string>
	<string>这种情况一般常见心动过速，与过度劳累，情绪波动较大等为诱发因素，平时注意休息，合理膳食，若长期不见好转，建议去专门的医院进行检查。</string>
	<string></string>
	<string>胃肠功能的恢复需要一定时间，选择容易消化的食物，每餐8-9分饱，减轻胃肠道的负担，使之尽快恢复其正常功能</string>
	<string>平时最好不要吃太多肉类食物，也不能吃的太饱，尽量细嚼慢咽，不要吃太多辛辣刺激的食物，生冷发硬不容易消化的食物也不能吃的太多</string>
	<string>建议有规律睡眠，不熬夜；规律饮食；注意个人卫生；加强体育锻炼。日常可食用昌弘西洋参，西洋参可缓解疲劳、补气提神、改善睡眠，有提高机体免疫功能</string>
	<string>睡前减慢呼吸节奏 睡前可以适当静坐，散步，看慢节奏的电视，听低缓的音乐等，使身体逐渐入静，静则生阴 ，阴盛则寐，最好的办法是趟在床上做几分钟静气功，做到精神内守，入睡后，睡眠质量才会更好。 ——睡前可以吃点养心阴的食品 睡前可吃一点养心阴的东西，如冰糖莲子羹、小米红枣粥、藕粉或服桂圆肉水…… 因为人睡觉后，心脏仍在辛苦地工作着，在五脏中，心脏最辛苦，所以适当地补益心阴将有 助于健康。 ——睡前用温水泡脚入睡最好 如果睡前用温水泡脚，有条件的再辅以足底按摩，效果最佳，因为可以促进心肾相交。心肾 相交意味着水火既济，对阴阳相合有促进作用，阴阳合抱，睡眠当然起到最佳境界</string>
	<string></string>
</array>
</plist>
