<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>丰富自己的业余生活，不妨找一些让你快乐的书读一读，听听让你放松的音乐，去郊外跑跑步，这些会让你的身心得到充分的休息和调养</string>
	<string>扩大朋友圈。总是在一个人的世界呆着，健康人也会抑郁的。那么，行动起来，发挥你的热情，主动多交几个朋友，和朋友一起打球，一起吃喝，一起嗨歌，一起笑，一起疯，一起闹，相信快乐、阳光的你很快就会回来的</string>
	<string>睡前减慢呼吸节奏 睡前可以适当静坐，散步，看慢节奏的电视，听低缓的音乐等，使身体逐渐入静，静则生阴 ，阴盛则寐，最好的办法是趟在床上做几分钟静气功，做到精神内守，入睡后，睡眠质量才会更好。 ——睡前可以吃点养心阴的食品 睡前可吃一点养心阴的东西，如冰糖莲子羹、小米红枣粥、藕粉或服桂圆肉水…… 因为人睡觉后，心脏仍在辛苦地工作着，在五脏中，心脏最辛苦，所以适当地补益心阴将有 助于健康。 ——睡前用温水泡脚入睡最好 如果睡前用温水泡脚，有条件的再辅以足底按摩，效果最佳，因为可以促进心肾相交。心肾 相交意味着水火既济，对阴阳相合有促进作用，阴阳合抱，睡眠当然起到最佳境界。</string>
	<string>最好的方式就是规律且有一定强度的运动。这种运动建议在至少睡前三小时完成，好让我们有充足的时间可以让身体冷静下来。如果你觉得运动只会让你的身体更累，这里有个好消息跟你分享：运动可以产生体力。医师建议最好一周运动四次，一次起码40分钟，当你这样执行一个月之后，你的体力会有些许改善；持续运动六个月以上，你会发现体力会越来越好。如果你已执行了一个月以上规律的运动及充足的睡眠，但仍然觉得很疲倦，那可能是其他部份出了问题了。以上是常见造成疲累的原因，尝试做以上的改变并且相信这些改变会让你的身体会恢复健康吧！在考虑其他原因之前，先尝试做以上的改变来看看是否改善疲劳。如果做了以上努力仍觉的疲倦，建议你看医生，慢性疲倦可能和很多健康问题有关。</string>
	<array>
		<string>合理的饮食制度，可成为机体的条件刺激。坚持定时进餐，到了进餐时间，就会产生食欲，分泌多种消化液，利于食物中各种营养素的吸收。特别是早餐一定要吃好。</string>
		<string>饭菜的色、香、味可以以促进食欲，想有利于食物的消化吸收，可做成汁、羹、饭等。利用具有香味、辣味、苦味的食物，来刺激并且提高胃液的分泌及增进食欲色彩美丽，香气扑鼻，味道鲜美，造型别致的食物，是人体产生条件反射，分泌出大量消化液，从而引起旺盛的食欲，利于食物消化吸收。</string>
		<string>选用助消化、增食欲的食物，如藕粉、山楂、水果。山楂带酸味，能增强消化作用。各种鱼类，如鲫鱼、青鱼等营养丰富，鱼肉较细，易于消化</string>
	</array>
	<string>丰富自己的业余生活，不妨找一些让你快乐的书读一读，听听让你放松的音乐，去郊外跑跑步，这些会让你的身心得到充分的休息和调养。</string>
	<string>不管做什么事，合适的环境很重要，看书时应该远离电脑、手机等具有辐射的电子产品，应选择在相对安静的公园树荫草地看书，同时选择那些你喜欢并且对你的人生和学习都很有帮助的书籍，要告诉自己看这些书对自己的知识素养提升和事业都会有很大帮助，从而使你觉得自己在做一件很有意义的事情。</string>
	<string>要平和，要稳定，深呼吸。听听音乐，参加娱乐活动，或看一本数，做一些自己感兴趣是事情。平时也要关注自己的情绪，努力好吃愉悦的心情。无论发生任何事，都要告诉自己要用平和的心态去对待，去解决。</string>
	<string>自我放松-有意识地在行为上表现得快活、轻松和自信，另外还可以运用音乐、瑜珈、冥想等方法来帮助放松。如果严重影响到正常的生活时应该考虑求助一些心理治疗机构进行治疗。</string>
</array>
</plist>
