<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SleepList</key>
	<array>
		<string>1. Last month, you usually go to bed at:</string>
		<string>2. Last month, time you needed to fall asleep is:</string>
		<string>3. Last month, your wake up time is usually at:</string>
		<string>4. Last month, hours of actual sleep you had per night is:</string>
		<string>5. Last month, how often do you have trouble sleeping because you cannot get to sleep in 30 minutes:</string>
		<string>6. Last month, how often do you have trouble sleeping because you wake up in midnight or early morning:</string>
		<string>7. Last month, how often do you have trouble sleeping because you have to get up to use the bathroom:</string>
		<string>8. Last month, how often do you have trouble sleeping because you cannot breath comfortably:</string>
		<string>9. Last month, how often do you have trouble sleeping because you cough or snore loudly:</string>
		<string>10. Last month, how often do you have trouble sleeping because you feel too cold:</string>
		<string>11. Last month, how often do you have trouble sleeping because you feel too hot:</string>
		<string>12. Last month, how often do you have trouble sleeping because you have bad dreams:</string>
		<string>13. Last month, how often do you have trouble sleeping because you have pain:</string>
		<string>14. Last month, how often do you have trouble sleeping for other reasons:</string>
		<string>15. How would you rate your overall sleep quality last month?</string>
		<string>16. Last month, how often did you take sleep medicine to help you sleep?</string>
		<string>17. Last month, how often do you feel tired?</string>
		<string>18. Last month, how often do you feel lacking in energy to get things done?</string>
	</array>
	<key>DepressedList</key>
	<array>
		<string>1. In the past two weeks, you always feel low-spirited or have no mood in anything:</string>
		<string>2. In the past two weeks, you feel depressed, frustrated, or despair:</string>
		<string>3. In the past two weeks, you have difficulty in falling asleep, and you cannot sleep well or sleep too much:</string>
		<string>4. In the past two weeks, you feel tired or lack of energy:</string>
		<string>5. In the past two weeks, you have loss of appetite or you eat too much:</string>
		<string>6. In the last two weeks, you feel terrible or frustrated about yourself, or even let yourself and your family down:</string>
		<string>7. In the past two weeks, you have difficulty focusing on things such as reading newspapers or watching television:</string>
		<string>8. In the past two weeks, you act or speak noticeably slower, or just the opposite, you act impetuously or you feel restless and move around more than usual:</string>
		<string>9. In the past two weeks, you have thoughts about dying or hurting yourself in some way:</string>
	</array>
	<key>WorriedList</key>
	<array>
		<string>1. In the past two weeks, you feel nervous, anxious or desperate:</string>
		<string>2. In the past two weeks, you cannot stop or control concerns:</string>
		<string>3. In the past two weeks, you worry too much about all kinds of issues:</string>
		<string>4. In the past two weeks, you have difficulty relaxing:</string>
		<string>5. In the past two weeks, you cannot sit quietly because of your anxiety:</string>
		<string>6. In the past two weeks, you are easy to be upset or impatient:</string>
		<string>7. In the past two weeks,you feel as if there will be a terrible things happen and fear:</string>
	</array>
	<key>BodyList</key>
	<array>
		<string>1. In the past month (the same below), how often do you have Stomachache:</string>
		<string>2. Back pain:</string>
		<string>3. Pain in the arms, legs, or joints:</string>
		<string>4. (Female only) The menstrual cramps  or other problems caused by the menstruation:</string>
		<string>5. Headache:</string>
		<string>6. Chest pain:</string>
		<string>7. Dizzy:</string>
		<string>8. Occasionally fainted:</string>
		<string>9. Feel heart beating or jump quickly:</string>
		<string>10. Fell suffocated:</string>
		<string>11. Have pain or problem during intercourse:</string>
		<string>12. Constipation, loose stools, or diarrhea:</string>
		<string>13. Nausea,flatulence or indigestion:</string>
		<string>14. You feel tired or in lassitude:</string>
		<string>15. You have sleep problems or trouble:</string>
	</array>
</dict>
</plist>
