<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>配置要求</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. What are required in order to use &quot;Start Somnormal&quot; function?</string>
			<key>Answer</key>
			<string>Answer: iPhone 4s or better Apple smartphone, &quot;Somnormal&quot; host, earclip electrode cables, felt gaskets, saline water or pure water. iPhone requires iOS6.0 or better, has Bluetooth 4.0 function, and its Bluetooth function should be able to scan and search for &quot;Sleep4U-xxxxxxxxxxxx&quot; device.</string>
		</dict>
	</array>
	<key>临床使用</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. I am an insomnia patient. When should I use &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer: It is recommended to use 2 times a day for the first two weeks of treatment, and then use once a day for the next four weeks, and then once every two days subsequently or follow doctor&apos;s recommendation, gradually reduce the use frequency until the symptom improvements become completely stable. If you feel sober minded, relaxed and focused after each treatment, then do not use within three hours before going to bed; but if you feel drowsy and can fall asleep every time after use, then you can use at bedtime. The recommended time to use Somnormal is once in the morning and once in the afternoon, with an interval of more than three hours.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. How much intensity I should use?</string>
			<key>Answer</key>
			<string>Answer: For first time use, gradually increase from level 1 until the ears feel a faint tingling (feeling of beating). Intensity should not be too large, or it might cause headache, dizziness, nausea or other adverse reactions, depending on individual.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3. How to select stimulation mode?</string>
			<key>Answer</key>
			<string>Answer: Normal mode is &quot;Mode 1&quot;, which should function relatively well. If symptom persists after two weeks of use, you can switch to &quot;Mode 2&quot; and continue treatment. If you no longer feel tingling at the ears after days or weeks of using &quot;Mode 1&quot; or &quot;Mode 2&quot; regardless of stimulation intensity, use &quot;Mode 3&quot; once and then continue treatment with the previously used mode.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4. Does using Somnormal frequently at high intensity help treating insomnia easier and faster?</string>
			<key>Answer</key>
			<string>Answer: No. Stimulation intensity should only cause faint tingling or feeling of beating at the ears, not too strong. Besides, increasing daily use frequency will not accelerate the insomnia treatment, and the user should follow the treatment course patiently. Insomnia treatment is a long term process, and should not be treated hastily.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5. What should I do when I experience headache, dizziness, nausea or other adverse events when using &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer: First, do not panic, because the symptoms occur due to excessive stimulation intensity or stimulation frequency. Reduce stimulation intensity or stimulation frequency immediately; if the symptoms persist, stop using Somnormal and consult doctor immediately.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6. I can sleep using medication. Can I use &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer: Yes. Medication can easily cause side effects to the human body, so it should be used less; Somnormal is a safe and effective physical therapy, and will not adversely affect the human body. However if you can sleep with medication, do not stop medication at early stage of Somnormal treatment, but instead use only half the dosage with concurrent Somnormal treatment. After the sleep condition is stable a week later, reduce dosage appropriately and ultimately get rid of the medications. Do not be hasty on reducing medication, and only reduce the dosage when symptoms have become stable.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>7. Which group of people should not use &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer:（1）Pregnant ladies;
	             （2）Epilepsy patients or individuals with family genetic history of epilepsy;
	             （3）Patients with implanted electronic devices such as pacemakers or insulin pumps;
	             （4）Patients with recent cerebral hemorrhage stroke, brain trauma or brain lesions;</string>
		</dict>
	</array>
	<key>软件操作</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. How to adjust stimulation intensity?</string>
			<key>Answer</key>
			<string>Answer: After connecting to &quot;Somnormal&quot; Insomnia, press button at left side of stimulation intensity bar to reduce current; press button at right side of stimulation intensity bar to increase current.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. How to select stimulation mode?</string>
			<key>Answer</key>
			<string>Answer: Normal mode is &quot;Mode 1&quot;, which should function relatively well. If symptom persists after two weeks of use, you can switch to &quot;Mode 2&quot; and continue treatment. If you no longer feel tingling at the ears after days or weeks of using &quot;Mode 1&quot; or &quot;Mode 2&quot; regardless of stimulation intensity, use &quot;Mode 3&quot; once and then continue treatment with the previously used mode.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3. How to start/stop treatment after setting the stimulation mode?</string>
			<key>Answer</key>
			<string>Answer: Press Start in the timer circle to start treatment; after treatment begins, the timer circle will display as &quot;stop&quot;. Press it to stop treatment.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4. Do I have to select stimulation mode every time I use Somnormal?</string>
			<key>Answer</key>
			<string>Answer: No. Other than first time use, Somnormal will follow the last used stimulation mode for treatment.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5. After registering with one account, how to Login with other accounts?</string>
			<key>Answer</key>
			<string>Answer: After signing in to the software main interface, click &quot;Personal Centre&quot; --&gt; &quot;My Information&quot; --&gt; &quot;Logout&quot; to return to login interface. However, the previously signed in account information will not be recorded.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6. Do I have to connect to &quot;Somnormal&quot; when I use the software?</string>
			<key>Answer</key>
			<string>Answer: No. Other than &quot;Start Somnormal&quot; function requires connection to &quot;Somnormal&quot;, other functions can be used directly.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>7. What should I do if I forgot my password?</string>
			<key>Answer</key>
			<string>Answer: When connecting to network, input user account at Login interface. Click on the &quot;Forgot Password&quot; button there to enter the cell-phone number verification interface. Click &quot;Verify&quot; to receive verification number to input, and then click &quot;Next&quot; to enter password reset interface to re-enter login password. You can also contact the hotline +65-65632678 for assistance.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>8. When do I need to connect to the network with the device?</string>
			<key>Answer</key>
			<string>Answer: Network connection is required for registering new user, recovering password, first login for accounts, editing personal information, and data synchronizing. Other functions do not have this requirement, but you should use it with Wi-Fi connection whenever possible to ensure data is updated.</string>
		</dict>
	</array>
	<key>常见问题</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. Why is it that I cannot adjust the stimulation intensity?</string>
			<key>Answer</key>
			<string>Answer:（1）Somnormal is not connected (Somnormal Host). Please bind Somnormal via Bluetooth first. If you do not have Somnormal, please purchase from us. 
	             （2）the phone you use does not support Bluetooth 4.0 function (Bluetooth of your handphone cannot find &quot;Sleep4U-xxxxxxxxxxxx&quot; device). Please change to cell-phones that support Bluetooth 4.0 to connect to Somnormal.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. Why is it that when I press &quot;Start&quot; in the timer circle, and the timer number flashes without changing?</string>
			<key>Answer</key>
			<string>Answer: Connect &quot;Somnormal&quot; properly and set stimulation mode before starting. The timer number is not changing because the electrode cables are not connected properly. Please check if the felts on the earpieces are soaked with saline, check whether the earclips and earlobes are intact, and check the connection of the electrode cable plug and Somnormal.</string>
		</dict>
	</array>
	<key>相关耗材</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. How long should the felts be replaced, and what should I do when they are used up?</string>
			<key>Answer</key>
			<string>Answer: Normally the felts should be replaced after 3 - 5 uses. You can purchase from us directly for the felts when they are used up.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. Where can I find saline water to purchase?</string>
			<key>Answer</key>
			<string>Answer: You can purchase 0.9% saline water from pharmacies.  Clean water may also be used if saline water is not available.</string>
		</dict>
	</array>
</dict>
</plist>
