<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>常见问题</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. How soon will I start feeling better?</string>
			<key>Answer</key>
			<string>Most patients start feeling the positive effects of cranial electrotherapy stimulation within the first week. Note that results vary and are dependent on your condition. Always consult your healthcare provider before starting Cervella and follow the treatment plan as directed. Anxiety is often reduced after a single treatment but may reoccur so consistent treatment sessions is recommended. Many patients suffering from anxiety find it useful to use Cervella at the onset of anxiety or before a high stress situation. Patients with depression will often see improvements in a few weeks, but patients should continue to use Cervella as directed by their healthcare provider. Insomnia is often reduced after a single treatment but, like depression, consistent treatment sessions is recommended even when you are feeling better. When conditions improve, please use Cervella at reduced intervals or on an as-need basis as instructed by your healthcare provider.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. What should be the optimal treatment intensity level?</string>
			<key>Answer</key>
			<string>The optimal treatment intensity level is when you feel a slight tingling around your ears, but the sensation is never uncomfortable or painful. It has been clinically demonstrated that higher current levels do not result in better or faster clinical outcomes so only use the current level that is comfortable.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3. Which is the best frequency to use?</string>
			<key>Answer</key>
			<string>The default and most widely used and studied frequency for cranial electrotherapy stimulation is 100Hz. If the default frequency is not effective, try 0.5Hz or 1.5Hz. </string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4. What is the optimal treatment duration and how often should I use the device?</string>
			<key>Answer</key>
			<string>The optimal and default treatment duration is 30 minutes. Treatments in excess of 1 hour are typically not necessary and treatments shorter than 20 minutes may not be effective.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5. What is the best time to use Cervella?</string>
			<key>Answer</key>
			<string>For treatment of insomnia, the best time to use Cervella is about 3 hours prior to bedtime. For anxiety and depression treatment, Cervella can be used anytime or immediately prior to a potentially stressful or anxiety-inducing event.  It is not recommended, however, that Cervella is used immediately prior to bedtime as it may cause difficulty in falling asleep.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6. Can I use Cervella together with medication?</string>
			<key>Answer</key>
			<string>Generally, yes, but always consult your healthcare professional for specific instructions based on your individual health condition.</string>
		</dict>
	</array>
	<key>软件操作</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. How does Cervella work?</string>
			<key>Answer</key>
			<string>Cervella works by sending micro pulses of electricity to your brain via electrodes integrated into the ear cushions of the headset. According to clinical and research studies, the micro current has several effects on the brain: it affects the Default Mode Network (DMN), endogenous brain oscillations, and change in neurotransmitter levels such as Serotonin. While the mechanisms of actions are complex and subject to continued research, the efficacy of cranial electrotherapy stimulation for treatment of anxiety, insomnia, and depression are well-demonstrated and documented.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. Why should I wet the ear cushions with conductive gel or water?</string>
			<key>Answer</key>
			<string>The ear cushions contain electrodes that are seamlessly integrated into to the ear cushions. The electrodes are conducting the electric current to your brain via the skin interface. In order for the electricity to flow efficiently, the skin and electrode interface must be of as low resistance as possible. The conductive gel and water lowers the resistance for electricity which allows for better current flow which results in more comfortable treatment.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3. Why is it that when I press “START” in the timer circle, the timer does not start?</string>
			<key>Answer</key>
			<string>This is usually caused by the fact that the ear cushions are not making tight contact with your skin, you did not apply the conductive gel, the device is not paired with your app, or the Cervella and headset are not connected via the white electrode cable.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4. What do the various colors mean for the LED indicator on top of the Cervella?</string>
			<key>Answer</key>
			<string>The tri-color indicator LED shows you the status of the Cervella device. The LED will blink blue during treatment and solid blue when the treatment is paused. Red means that the Cervella needs to be recharged. Green means that Cervella is charged and is successfully paired with the app. For other colors, please refer to the Owner’s Manual for a detailed explanation.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5. Can I listen to music and use the ANR feature during treatment?</string>
			<key>Answer</key>
			<string>Absolutely. You can pair the headset to your smart device and use it as a wireless Bluetooth stereo headset with or without the ANR (Active Noise Reduction) feature. Your headset can be paired with the same device that runs the Cervella app or with a different device (e.g. your computer).</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6. How should I clean the Cervella?</string>
			<key>Answer</key>
			<string>You can wipe the ear cushions with water using a damp cloth and let air dry. You can also use isopropyl alcohol to disinfect the ear cushions and headband after use. Never use chlorine or aggressive chemicals cleaners to clean the Cervella.</string>
		</dict>
	</array>
	<key>配置要求</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. What are required in order to use &quot;Start Somnormal&quot; function?</string>
			<key>Answer</key>
			<string>Answer: iPhone 4s or better Apple smartphone, &quot;Somnormal&quot; host, earclip electrode cables, felt gaskets, saline water or pure water. iPhone requires iOS6.0 or better, has Bluetooth 4.0 function, and its Bluetooth function should be able to scan and search for &quot;Sleep4U-xxxxxxxxxxxx&quot; device.</string>
		</dict>
	</array>
	<key>临床使用</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. I am an insomnia patient. When should I use &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer: It is recommended to use 2 times a day for the first two weeks of treatment, and then use once a day for the next four weeks, and then once every two days subsequently or follow doctor&apos;s recommendation, gradually reduce the use frequency until the symptom improvements become completely stable. If you feel sober minded, relaxed and focused after each treatment, then do not use within three hours before going to bed; but if you feel drowsy and can fall asleep every time after use, then you can use at bedtime. The recommended time to use Somnormal is once in the morning and once in the afternoon, with an interval of more than three hours.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. How much intensity I should use?</string>
			<key>Answer</key>
			<string>Answer: For first time use, gradually increase from level 1 until the ears feel a faint tingling (feeling of beating). Intensity should not be too large, or it might cause headache, dizziness, nausea or other adverse reactions, depending on individual.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>3. How to select stimulation mode?</string>
			<key>Answer</key>
			<string>Answer: Normal mode is &quot;Mode 1&quot;, which should function relatively well. If symptom persists after two weeks of use, you can switch to &quot;Mode 2&quot; and continue treatment. If you no longer feel tingling at the ears after days or weeks of using &quot;Mode 1&quot; or &quot;Mode 2&quot; regardless of stimulation intensity, use &quot;Mode 3&quot; once and then continue treatment with the previously used mode.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>4. Does using Somnormal frequently at high intensity help treating insomnia easier and faster?</string>
			<key>Answer</key>
			<string>Answer: No. Stimulation intensity should only cause faint tingling or feeling of beating at the ears, not too strong. Besides, increasing daily use frequency will not accelerate the insomnia treatment, and the user should follow the treatment course patiently. Insomnia treatment is a long term process, and should not be treated hastily.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>5. What should I do when I experience headache, dizziness, nausea or other adverse events when using &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer: First, do not panic, because the symptoms occur due to excessive stimulation intensity or stimulation frequency. Reduce stimulation intensity or stimulation frequency immediately; if the symptoms persist, stop using Somnormal and consult doctor immediately.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>6. I can sleep using medication. Can I use &quot;Cervella&quot;?</string>
			<key>Answer</key>
			<string>Answer: Yes. Medication can easily cause side effects to the human body, so it should be used less; Somnormal is a safe and effective physical therapy, and will not adversely affect the human body. However if you can sleep with medication, do not stop medication at early stage of Somnormal treatment, but instead use only half the dosage with concurrent Somnormal treatment. After the sleep condition is stable a week later, reduce dosage appropriately and ultimately get rid of the medications. Do not be hasty on reducing medication, and only reduce the dosage when symptoms have become stable.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>7. Which group of people should not use &quot;Somnormal&quot;?</string>
			<key>Answer</key>
			<string>Answer:（1）Pregnant ladies;
	             （2）Epilepsy patients or individuals with family genetic history of epilepsy;
	             （3）Patients with implanted electronic devices such as pacemakers or insulin pumps;
	             （4）Patients with recent cerebral hemorrhage stroke, brain trauma or brain lesions;</string>
		</dict>
	</array>
	<key>相关耗材</key>
	<array>
		<dict>
			<key>Question</key>
			<string>1. How long should the felts be replaced, and what should I do when they are used up?</string>
			<key>Answer</key>
			<string>Answer: Normally the felts should be replaced after 3 - 5 uses. You can purchase from us directly for the felts when they are used up.</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>2. Where can I find saline water to purchase?</string>
			<key>Answer</key>
			<string>Answer: You can purchase 0.9% saline water from pharmacies.  Clean water may also be used if saline water is not available.</string>
		</dict>
	</array>
</dict>
</plist>
